@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome12</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
</div>
<button name='Tipo' style="color:red" title='prueba' onclick="@Url.Action("Index","TipoCuentums")">Cuentas</button>
<a style="color:#185212" href="@Url.Action("Index","TipoCuentums", null)">Alertas</a>
<button>Prueba</button>
